// colors
$color-background: #0B0D17;
$color-font: #FFFFFF;
$color-font-secondary: #D0D6F9;

// font
$font:'Bellefair', serif;
$font-secondary:'Barlow Condensed', sans-serif;
$font-terciary:'Barlow', sans-serif;

$font-size-h1: "150px";
$font-size-h2: "100px";
$font-size-h3: "56px";
$font-size-h4: "32px";
$font-size-h5: "28px";
$font-size-sh-1: "28px";
$font-size-sh-2: "14px";
$font-size-nav: "16px";
$font-size-body: "18px";
